@import "tailwindcss";

:root {
  --font-sans:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  
  /* Base Colors */
  --color-brand: #5865F2;
  --color-green: #23A559;
  --color-red: #DA373C;
  
  /* Light Theme Colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f2f3f5;
  --bg-tertiary: #e3e5e8;
  --bg-highlight: #f0f1f5;
  --text-primary: #060607;
  --text-muted: #5c5e66;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme Colors */
    --bg-primary: #2e3035;
    --bg-secondary: #2b2d31; 
    --bg-tertiary: #1e1f22; 
    --bg-highlight: #393b41;
    --text-primary: #dbdee1;
    --text-muted: #949ba4;
    --bg-chatbar:#34363a;
    --outline-primary: #4a5565;
  }
}

@theme inline {
  /* Colors */
  --color-brand: var(--color-brand);
  --color-discord-bg: var(--bg-primary);
  --color-discord-sidebar: var(--bg-secondary);
  --color-discord-server: var(--bg-tertiary);
  --color-discord-text: var(--text-primary);
  --color-discord-muted: var(--text-muted);
  --color-discord-hover: var(--bg-highlight);
  --color-discord-chatbar: var(--bg-chatbar);
  --color-discord-outline: var(--outline-primary);
  --color-discord-loading: var(--bg-tertiary);

  /* Layout Spacing */
  --spacing-sidebar: 4.5rem;
  --spacing-header: 3rem;
  --spacing-chatbar: 3rem;
  --spacing-server-icon: 3rem;

  /* Messages */
  --size-avatar: 2.5rem; 
  --spacing-message-gutter: 1rem; 
  

  /* Pills */
  --width-pill: 0.3rem;       
  --height-pill-small: 1rem; 
  --height-pill-hover: 1.75rem;
  --height-pill-active: 2.5rem;
  
  --radius-discord: 1rem;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}