# --- Operating System Files ---
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# --- Editors & IDEs ---
# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains (IntelliJ, PyCharm, WebStorm, etc.)
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Sublime Text
*.sublime-workspace
*.sublime-project

# --- General ---
# Logs and Databases
*.log
*.sql
*.sqlite

# Compiled / Build folders (General)
dist/
build/
bin/
out/
node_modules/
target/

# Environment variables (Sensitive data protection)
.env
.env.local
.env.*.local